@import "tailwindcss";

@font-face {
    font-family: "GothicFont";
    src: url("/fonts/angelWish.ttf") format("truetype"),
         url("/fonts/angelWish.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "AncientFont";
    src: url("/fonts/ancientMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @theme {
    --font-gothic: "GothicFont", serif;
    --font-ancient: "AncientFont", serif;

    --color-redvelvet:  #4a1260;
    --color-darkmaroon:  #3d010d;
    --color-burgundy:    #850320;
    --color-velvet:      #9e1a35;
    --color-rosewood:    #b5485a;
    --color-parchment:   #f0dfc0;
    --color-dusk:      #7a5c7a;
    --color-mauve:   #9e7a8a;
    --color-shadow:   #4a3550;
    --color-ashwhite:    #e8ddd5;
    --color-ember:       #8b2020;
  }